*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contaner-fluid{
    
    padding: 20px;
   
}
.my-div{
  height: 100%;
  width: 100%;
}
.row{
    margin: 8% auto;
    height: 60vh;
}
.col-6{
    position: relative;
}
.writing{
    position: absolute;
    top: 80%;
    left: 20%;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
    pointer-events: none;
    opacity: 0;
}
.margin{
    margin-top: 150px;
}